* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#menu {
	list-style: none;
}

header, #about, #portfolio, #contact{
	float:left;
}
header {
	background-color: #4aaaa5;
	color: white;
	padding: 10px;
	margin-left: 50px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#about {
	margin-left: 150px;
	padding-top: 20px;
}
#portfolio {
	margin-left: 20px;
	padding-top: 20px;
}
#contact {
	margin-left: 20px;
	padding-top: 20px;
}

.wrapper {
	clear: both;
	background-image: url("../../assets/images/ep_naturalwhite.png");
	height:500px;
	border-top: solid #dddddd;
}

h2 {
	border-bottom: 3px solid grey;
}

h3 {
	border-bottom: 3px solid grey;
}

.rel {
	position:absolute;
}

#info {
	width: 500px;
	height: 350px;
	left: 100px;
	top: 25%;
	padding: 20px;
	background-color: white;
	color: #777777;

}
#contactLogos:hover {
	background-color: lightblue;
	opacity: 50%
}
#git {
	float:left;
	height:50px;
	width: 33.3%;
}

#git:hover {
	position:relative;
    top:-15px;
    height:auto;
    display:block;
    z-index:999;
}

#linkedin:hover {
	position:relative;
    top:-15px;
    height:auto;
    display:block;
    z-index:999;
}

#so:hover {
	position:relative;
    top:-15px;
    height:auto;
    display:block;
    z-index:999;
}

#linkedin {
	float:left;
	height:50px;
	width: 33.3%;
}

#so {
	float:left;
	height:50px;
	width: 33.3%;
}

#contactLogos {
	width: 200px;
	height: 150px;
	top: 25%;
	left: 700px;
	padding: 20px;
	background-color: white;
	color: #777777;
}

.data {
	width: 400px;
	height: 15px;
	color: lightgrey;
	resize: none;
	outline: none;
}
#mesg {
	width:400px;
	height: 80px;
	resize: none;
	outline: none;
}

#submit {
	width: 80px;
	height: 30px;
	background-color: #4aaaa5;
	color: white;
	outline: none;
}

#submit:focus {
	background-color: green;
}

footer {
	clear: both;
	background-color: grey;
	color: white;
	padding: 10px;
	border-top: 10px solid #4aaaa5;
	text-align: center;
	position: fixed; 
	bottom: 0px;
	width: 100%;
}